.date-time-picker-1{
    border-radius: 10px;
    height: 90px;
}

.tool-bar{
   
}

.box-shadow-underline{
    box-shadow:0px 10px 10px grey; 
}

.css-13i4rnv-MuiGrid-root{
    background-color: white !important;
}