.sign-in-container{
        background-image: url(../../assets/bike_grey.jpg);
        /* background-size: cover; */
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
        overflow: -moz-hidden-unscrollable;
        overflow: hidden;
}

.login-card-box{
    border-radius: 5px;
}

.google-sign-in-btn{
    width: 100%;
    text-align: center !important;
    color : black;
    font-weight: bolder;
}